@import url("http://fonts.googleapis.com/css?family=Lato:700");

/*
-------------------------------------------
File: 'Blueball FreeStack Responsive' 
lato_headline.css Style Sheet
Created: 12, September, 2012
Last Modified: 18, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2012-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

h1, h2, h3, h4, h5 {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#pageheader h1,
#sidebar .sideHeader,
#sidebar h5,  
.blog-entry-title, 
.blog-archive-month, 
.filesharing-item-title, 
.album-title, 
.photo-title, 
.movie-page-title, 
.movie-title {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-weight: normal;
}