@import url("http://fonts.googleapis.com/css?family=Source Sans Pro:700");

/*
-------------------------------------------
File: 'Blueball FreeStack Responsive' 
sourcesanspro_headline.css Style Sheet
Created: 18, November, 2014
Last Modified: 18, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2013-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

h1, h2, h3, h4, h5 {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-weight: 700;
}

#pageheader h1,
#sidebar .sideHeader,
#sidebar h5, 
.blog-entry-title, 
.blog-archive-month, 
.filesharing-item-title, 
.album-title, 
.photo-title, 
.movie-page-title, 
.movie-title {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-weight: 700
}
