/*
-------------------------------------------
File: 'Blueball FreeStack Responsive' 
trebuchet_headline.css Style Sheet
Created: 14, October, 2012
Last Modified: 18, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2012-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/


h1, h2, h3, h4, h5 {
	font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#pageheader h1,
#sidebar .sideHeader,
#sidebar h5, 
.blog-entry-title, 
.blog-archive-month, 
.filesharing-item-title, 
.album-title, 
.photo-title, 
.movie-page-title, 
.movie-title {
	font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

