/*
-------------------------------------------
File: 'Blueball FreeStacks Responsive' 
fontsize_large.css Style Sheet
Created: 18, December, 2012
Last Modified: 09, February, 2013
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Copyright 2013 Charlie Lockhart/Blueball Design LLC USA
All Rights Reserved
-------------------------------------------
*/

body {font-size: 1em; line-height:1.5em;}

blockquote, .standout {font-size: 1.6em;}

h1 {font-size: 3em;}

h2 {font-size: 2.45em;}

h3 {font-size: 1.9em;}

h4 {font-size: 1.6em;}

h5 {font-size: 1.4em;}

#title h1 {font-size: 3em;}

#slogan h2 {font-size: 1.6em;}

#sidebar {font-size: .95em;}

#sidebar .sideHeader {font-size: 1.4em;}

#sidebar h5 {font-size: 1.4em;}

#breadcrumbcontainer {font-size: .9em;}

#footer {font-size: .9em;}

.blog-entry-title {font-size: 2.25em;}

.blog-read-more a:link, 
.blog-read-more a:visited, 
.blog-read-more a:active {font-size: .9em;}

.blog-read-more a:hover {font-size: .9em;}

p.blog-entry-tags {font-size: .9em;}

.blog-entry-comments {font-size: .9em;}

.blog-entry-comments-inline {font-size: .9em;}

.blog-archive-month {font-size: 1.9em;}

.blog-archive-link {font-size: 1em;}

a.blog-rss-link {font-size: 1em;}

a.blog-comments-rss-link {font-size: 1em;}

.filesharing-item-title {font-size: 1.9em;}

.album-title {font-size: 2.25em;}


/* For Smartphones ----------- */
@media only screen 
and (max-device-width : 480px) {

}

