@import url("http://fonts.googleapis.com/css?family=Open Sans:400,600");

/*
-------------------------------------------
File: 'Blueball FreeStack Responsive' 
opensans_content.css Style Sheet
Created: 15, April, 2014
Last Modified: 19, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2013-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

blockquote, .standout {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
}

#slogan h2 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

#footer {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
}