@import url("http://fonts.googleapis.com/css?family=Rufina:400");

/*
-------------------------------------------
File: 'Blueball FreeStack Responsive' 
rufina_content.css Style Sheet
Created: 28, December, 2012
Last Modified: 19, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2013-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/


body {
	font-family: "Rufina", "Times New Roman", Times, serif;
	font-weight: 400;
}

blockquote, .standout {
	font-family: "Rufina", "Times New Roman", Times, serif;
	font-weight: 400;
}
#slogan h2 {
	font-family: "Rufina", "Times New Roman", Times, serif;
	font-weight: 400;
}

#footer {
	font-family: "Rufina", "Times New Roman", Times, serif;
	font-weight: 400;
}