@import url("http://fonts.googleapis.com/css?family=Ubuntu:400");

/*
-------------------------------------------
File: 'Blueball FreeStacks Responsive' 
ubuntu_content.css Style Sheet
Created: 28, December, 2012
Last Modified: 19, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2012-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

body {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

blockquote, .standout {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

#slogan h2 {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

#footer {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	font-weight: 400;
}