/*
-------------------------------------------
Stack: Blueball FreeStack Responsive Transparent Stack
Style Sheet: fsrtransparent.css
Created: 23, October 2012
Last Modified: 12, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2012-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

#stacks_in_19_page0_wrapper {
	
}

#stacks_in_19_page0_wrapper #stacks_in_19_page0_transparentbg {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	width: 100%;
	height: 100%;
	background: #0A454B;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99);
	filter: alpha(opacity=99);
	opacity: 0.99;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}/*
-------------------------------------------
File: 'Blueball FreeStack Responsive Image Stack' 
Style Sheet: fsrimage.css
Created: 05, November, 2012
Last Modified: 11, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2012-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

#stacks_in_17_page0 {
	
}

#stacks_in_17_page0 img {
	float: none;
	max-width: 47% !important;
	height: auto !important;
	padding: 0;
	margin: 0 auto;
}

/************************************************************************************
MOBILE
*************************************************************************************/

@media screen and (max-width: 600px) {

#stacks_in_17_page0 img {
	float: none;
	max-width: 75% !important;
	min-width: 40% !important;
	height: auto !important;
}

}
#stacks_in_17_page0 {
	padding: 0px 0px 20px 0px;
}
/*
-------------------------------------------
Stack: Blueball FreeStack Responsive Transparent Stack
Style Sheet: fsrtransparent.css
Created: 23, October 2012
Last Modified: 12, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2012-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

#stacks_in_33_page0_wrapper {
	
}

#stacks_in_33_page0_wrapper #stacks_in_33_page0_transparentbg {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	width: 100%;
	height: 100%;
	background: #FA8317;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99);
	filter: alpha(opacity=99);
	opacity: 0.99;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#stacks_in_33_page0 {
	padding: 20px 0px 0px 0px;
}

#stacks_in_896_page0 {
	padding: 15px 0px 0px 0px;
}

#stacks_in_897_page0 {
	letter-spacing: 2px;
	font-size: 146%;
	font-weight: bold;
}

#stacks_in_898_page0 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_898_page0 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_898_page0 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_985_page0 {
	font-size: 123%;
	font-weight: bold;
}
/*
-------------------------------------------
Stack: Blueball FreeStack Responsive Transparent Stack
Style Sheet: fsrtransparent.css
Created: 23, October 2012
Last Modified: 12, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2012-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

#stacks_in_958_page0_wrapper {
	
}

#stacks_in_958_page0_wrapper #stacks_in_958_page0_transparentbg {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99);
	filter: alpha(opacity=99);
	opacity: 0.99;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#stacks_in_958_page0 {
	padding: 20px 0px 0px 0px;
}

#stacks_in_960_page0 {
	padding: 15px 0px 0px 0px;
}

#stacks_in_961_page0 {
	letter-spacing: 2px;
	font-size: 187%;
	font-weight: bold;
}

#stacks_in_982_page0 {
	padding: 15px 0px 20px 0px;
}
/*
-------------------------------------------
Stack: Blueball FreeStack Responsive Transparent Stack
Style Sheet: fsrtransparent.css
Created: 23, October 2012
Last Modified: 12, November, 2014
Author: Blueball Design
www.blueballdesign.com
Copyright 2012-2014 Blueball Design LLC USA/Charlie Lockhart
All Rights Reserved
-------------------------------------------
*/

#stacks_in_50_page0_wrapper {
	
}

#stacks_in_50_page0_wrapper #stacks_in_50_page0_transparentbg {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	width: 100%;
	height: 100%;
	background: #30A69C;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99);
	filter: alpha(opacity=99);
	opacity: 0.99;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#stacks_in_50_page0 {
	padding:  20px;
}

#stacks_in_13_page0 {
	padding: 20px 0px 0px 0px;
}

#stacks_in_14_page0 {
	letter-spacing: 2px;
	font-size: 212%;
	font-weight: bold;
}

#stacks_in_15_page0 {
	padding: 15px 0px 20px 0px;
}
